{% extends "base.html.twig" %}
{% block title %} Gestion des courts {% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset ('assets/css/manage-members.css') }}">{% endblock %}

{% block main %}
<section>
    <h2>Liste des courts</h2>
    <a href="{{ path ('app_account_manage_court_add') }}" class="button back">Ajouter un nouveau court</a>
    <table>
        <thead>
            <tr>
                <td>Nom du court</td>
                <td>Type de surface</td>
                <td>Eclairage</td>
                <td>En fonction</td>
                <td>n°</td>
                <td>Modifier</td>
                <td>Supprimer</td>
            </tr>
        </thead>
        <tbody>
            {% for court in courts %}
            <tr>
                <td>{{ court.name}} </td>
                <td>{{ court.surface }}</td>
                <td>{{ court.islighted }}</td>
                <td>{{ court.isfunctionnal }}</td>
                <td>{{ court.id }}</td>
                <td><a href="{{ path ('app_account_manage_modify_court', {"courtId": court.id}) }}" class="button">Modifer</a></td>
                <td><a href="{{ path ('app_account_manage_delete_court', {"courtId": court.id}) }}" class="button">Supprimer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% include "/Back/common/_button-back.html.twig" %}

{% endblock %}

{% block javascripts %}<script type="module" src=""></script>{% endblock %}