{% extends "base.html.twig" %}
{% block title %} Mon historique de reservation {% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset ('assets/css/lessons.css') }}">{% endblock %}
{% block main %}
{% set memberIsEnrolled = false %}
<section>
    <h2>Cours Disponible :</h2>
    <section> 

    {% for lesson in lessons %}

        {% for memberInLesson in lesson.getLessonMember %}
            
            {% set memberLessonId = memberInLesson.id %}
            
            {% if(member.id == memberInLesson.id)%}
                {% set memberIsEnrolled = true %}
                <div class="reserved">
            {% endif %}
        
        {% endfor %}
        <div>
            <h4>{{lesson.getName}}</h4>
            <ul>
                <li>Professeur : {{ lesson.teacher.firstname }}</li>
                <li>Date/heure:{{ lesson.slots[0].startAt|date('d-m-Y H:i') }}</li>
                <li>Nombre de places : {{ lesson.getCapacity}}</li>
                <li>Terrain : {{ lesson.court.name }}</li>
                <li>Places restantes : {{ lesson.actualCapacity }}</li>
            </ul>
            {% if not memberIsEnrolled %}
                {% if member.age > 15 %}
                    {% if member.gender == lesson.gender and lesson.capacity > 0 and lesson.gender is not null %}
                        <a href="{{ path('app_lesson_subscribe', {'lessonFromRequest':lesson.id}) }}" class="button">S'inscrire</a>
                    {% endif %}
                {% else %}
                    {% if lesson.gender is null %}
                        <a href="{{ path('app_lesson_subscribe', {'lessonFromRequest':lesson.id}) }}" class="button">S'inscrire</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a href="{{ path('app_lesson_unsubscribe', {'lessonFromRequest': lesson.id }) }}" class="button danger">Se désinscrire</a>
            {% endif %}
        </div>
    {% else %}
        <div>
            <h4>Aucune leçons/cours de tennis pour le moment</h4>
        </div>
    {% endfor %}
 
    </section>
</section>
{% endblock %}